[submodule "reference/hypercut"]
	path = reference/hypercut
	url = https://github.com/quadmotor/hypercut.git
	ignore = dirty
[submodule "reference/InteractiveAndRobustMeshBooleans"]
	path = reference/InteractiveAndRobustMeshBooleans
	url = https://github.com/gcherchi/InteractiveAndRobustMeshBooleans.git
	ignore = dirty
[submodule "reference/meshtaichi"]
	path = reference/meshtaichi
	url = https://github.com/taichi-dev/meshtaichi.git
	ignore = dirty
[submodule "reference/OpenMeshCraft"]
	path = reference/OpenMeshCraft
	url = https://github.com/mangoleaves/OpenMeshCraft.git
	ignore = dirty
[submodule "reference/RXMesh"]
	path = reference/RXMesh
	url = https://github.com/owensgroup/RXMesh.git
	ignore = dirty
[submodule "reference/近期强基线_20260908/geogram"]
	path = reference/近期强基线_20260908/geogram
	url = https://github.com/BrunoLevy/geogram.git
	ignore = dirty
[submodule "reference/近期强基线_20260908/OpenMeshCraft"]
	path = reference/近期强基线_20260908/OpenMeshCraft
	url = https://github.com/mangoleaves/OpenMeshCraft.git
	ignore = dirty
[submodule "reference/近期强基线_20260908/pamo"]
	path = reference/近期强基线_20260908/pamo
	url = https://github.com/SarahWeiii/pamo.git
	ignore = dirty
[submodule "reference/近期强基线_20260908/RXMesh"]
	path = reference/近期强基线_20260908/RXMesh
	url = https://github.com/owensgroup/RXMesh.git
	ignore = dirty
